
# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.idea/*
.vscode/
# due to using tox and pytest
.tox
.cache
.directory
# files from finished/unfinised executions
listGenomes2Call.txt
listGenes2Call.txt
proteinID_Genome.tsv
