div.wy-side-nav-search, div.wy-nav-top {
    background: #3690c0;
  }
  
  .wy-menu > .caption > .caption-text {
    color: #3690c0;
  }
  
  .wy-nav-content {
    max-width: 100%
  }

table.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
